.git
.gitignore

__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

.venv/
.env

outputs/
train_pairs/
tensorboard/

checkpoints/*.pth
checkpoints/*.pth.tar
checkpoints/*.pt
!checkpoints/.gitkeep

*.log
.DS_Store
